/*===========================================
Global styles
===========================================*/
body {
    font-family: interstate, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    width: 100vw;
    margin: 0;
    overflow-x:hidden;
}

h1 {
    font-family: filicudi-solid, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    display: none;
}

h2 {
    font-family: filicudi-solid, sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
}

a {
    text-decoration: none;
}

#heading-img {
    width: 35vw;
    min-width: 360px;
    margin: 0 auto;
    padding: 25px;
}

.heading-img-container {
    width: 100%;
    height: 200px;
}

.wrap {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.divider {
    background-image: url(images/about-banner.png);
    width: 100vw;
    height: 100px;
    background-size: contain;
    background-repeat: none;
    margin-top: 50px;
}

/*===========================================
Navigation
===========================================*/
.header {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100vw;
    border-bottom: solid black 1px;
}

.gn {
    width: 100%;
    align-items: center;
}

.gn ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin-right: 40px;
}

.gn li {
    padding: 20px;
    align-items: center;
    font-weight: 600;
    font-family: interstate, sans-serif;
}

.gn a:hover {
    color: #05e6e0;
}

.gn a {

    text-decoration: none;
    color: black;
}

.logo {
    max-width: 350px;
    min-width: 150px;
    margin-left: 30px;
}

.gn .cart {
    width: 50%;
    height: 50%;
    fill: black;
}

.gn .cart-img:hover {
    fill: #05e6e0;
}

.gn li:last-child {
    width: 1.5%;
}

.gn .is-active {
    color: #e61e21;
}

.gn .is-active .cart-img {
    fill: #e61e21;
}

/*===========================================
Home 
===========================================*/
.home .bnr {
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100vw;
  }
  
  .home .bnr-img {
    background-image: url(images/bnr-img.jpg);
    width: 100%;
    position: relative;
    background-position: cover;
    background-repeat: no-repeat;
  }
  
  .home .col {
    flex-basis: 50%;
    max-width: 50%;
  }
  
  .home h1:before {
    content:'';
    width: 500px;
    height: 300px;
    color: rgba(240, 255, 255, 0.568);
  
  }
  
  .home h1 {
    position: absolute;
    top: 50%;
    left: 31%;
  }
  
  .home .bnr-cta {
    position: relative;
  
  }
  
  .home .btn {
    border: 2px solid #e61e21;
    padding: 20px 40px;
  }
  
  .home .buy-btn {
    background: #e61e21;
    position: absolute;
    top: 50%;
    left: 41%;
    color: rgb(231 213 135);
    font-weight: 600;
  }
  
  .home .buy-btn:hover {
      background: rgb(245 227 155);
      border: 2px solid black;
      color: black;
  }
  
  .home .learn-btn {
    position: absolute;
    top: 65%;
    left: 41%;
    font-weight: 600;
    color: #e61e21;
  }
  
  .home .learn-btn:hover {
      color: black;
      border: 2px solid black;
  }
  
  .home .home-bnr {
      width: 100%;
      height: 100%;
  }

  .bnr-cta .welcome {
      padding-top: 50px;
      line-height: 2;
      font-size: 45px;
      color: #e61e21;
  }
  .home .right-col {
      padding-top: 75px;
      background-color:rgb(229 186 4 / 40%);
  }
/*===========================================
About 
===========================================*/
.about-pw {
    width: 75vw;
    display: flex;
    flex-direction: column;
}

.about-p {
    text-align: left;
    margin: 0 auto;
    width: 60vw;
}

.about-p:first-child {
    text-align: left;
    margin: 0 auto;
    margin-top: 0;
    width: 60vw;
}

.about-cta {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

.about-col {
    max-width: 50%;
    flex-basis: 50%;
}

.about-col img {
    width: 75%;
}

.about p {
    margin-top: 40px;
}

.about .cta-event {
    text-decoration: none;
    color: black;
}

.about .cta-creator {
    text-decoration: none;
    color: black;
}

.about-creators {
    display: flex;
    flex-direction: column;
}

/* .creator-persona {
    display: flex;
    flex-direction: row;
}

.creator {
    max-width: 40%;
    flex-basis: 40%;
}

.creator img {
    width: 50%;
}

.creator-copy {
    max-width: 60%;
    flex-basis: 60%;
} */

.builder-name{
    text-transform: capitalize;
}

.creator{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em 0;
}
/* comment this section out to see it un-staggered  */
.creator:nth-of-type(2n){
    flex-direction: row-reverse;
}

.creator img{
    width: 434px;
    height: 339px;
}

.creator-copy{
    width: 50%;
    margin-bottom: 3em;
    padding: 0 4em;
    text-align: left;
}

/*===========================================
Admissions 
===========================================*/
.admission .heading-image:before {
    content: url(images/adm-helmet-man.png);
    
}

.admission .pricing {
    display: flex;
    width: 100vw;
    max-width: 80%;
    height: 90vh;
    margin: 0 auto
}

.admission .pricing-card {
    flex-basis: 50%;
    max-width: 50%;
    max-height: 80%;
    text-align: center;
    padding: 3% 4% 0;
    margin: 6%;
    box-shadow: 0px 2px 5px 2px #747474;
    background-color: rgb(245 227 155);
}

/* .admission .adm-img.adult {
    background-image: url(images/adm-1.jpg);
    
}

.admission .adm-img.child {
    background-image: url(images/adm-2.jpg);
} */

.admission .pricing-card img {
    width: 80%;
}
.admission .adm-img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.admission .cart-btn:hover {
    background-color: rgb(245 227 155);
    border: solid 2px black;
    color: black;
}

.admission .cart-btn {
    background-color: #e61e21;
    color: white;
    padding: 20px 30px; 
    font-weight: 600;
}

.admission .description {
    padding-top: 2em;
    padding-bottom: 5em;
}

@media (max-width: 992px) {
    .admission .pricing {
        width: 75vw;
        max-width: 80%;
        height: 55vh;
    }
}


/*===========================================
Vendors 
===========================================*/
.food-three-col {
    display: flex;
    width: 100%;
    text-align: center;
}

.food-three-col-left {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
}

.food-three-col-mid {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
}

.food-three-col-right {
    max-width: 33.3333333333%;
    flex-basis: 33.3333333333%;
}

.food-two-col .food-two-col-img{
    width: 60%;
}

.food-two-col {
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.food-two-col .food{
    width: 100%;
}

.food-two-col-left {
    max-width: 50%;
    flex-basis: 50%;
}

.food-two-col-right {
    max-width: 50%;
    flex-basis: 50%;
}

.vendors .food-three {
    width: 75%;
}

.vendors .food {
    width: 50%;
}

.vendor-p {
    text-align: left;
    margin: 0 auto;
    width: 75%;
    padding-top: 5px;
    line-height: 1.5;
}

.vendor-p-two {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    padding-top: 5px;
    line-height: 1.5;
}

/*===========================================
Gallery
===========================================*/

.gallery h1 {
    text-align: center;
    padding-bottom: 40px;
}

.slider {
    margin-top: 50px;
}

.carousel__viewport {
    width: 900px;
    height: 500px;
    margin: 0 auto;
}

#mainCarousel {
    width: 80vw;
    height: 56vh;
    margin: 0 auto;
}

#mainCarousel .carousel__slide {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  #mainCarousel .carousel__button.is-prev {
    left: 15.5em;
  }
  
  #mainCarousel .carousel__button.is-next {
    right: 15.5em;
  }
  
  #mainCarousel .carousel__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #e61e21;
  }
  
  #thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 96px;
    height: 64px;
    overflow-y: hidden;
  }

  #thumbCarousel.carousel {
      width: 80vw;
      margin: 0 auto;
  }
  
  #thumbCarousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  #thumbCarousel .carousel__slide.is-nav-selected {
    opacity: 1;
  }

  #thumbCarousel {
      height: 100px
  }

/*===========================================
Cart
===========================================*/
.cart .wrap {
    display: flex;
    flex-direction: row;
}

.cart #heading-img {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.cart .cart-btn {
    background-color: #e61e21;
    color: white;
    padding: 12px 30px;
    text-decoration: none; 
    font-weight: 600;
}


.cart .cart-btn:hover {
    background-color: rgb(245 227 155);  
    border: solid 2px black;
    color: black;
}

.cart .purchase-btn {
    margin-top: 40px;
}

.cart .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 auto;
    height: 75vh;
    box-shadow: 0px 2px 5px 2px #747474;
    background-color: rgb(245 227 155);
}

.woman-masked {
    width: 50%;
}

.card-container img {
    width: 30%;
}

.receipt-logo {
    padding-bottom: 50px
}

.cart .card {
    display: flex;
    width: 30vw; 
}

.cart .card .row {
    justify-content: space-around;
}

.cart .pricing {
    text-align: center;
}

.cart .cart-items {
    text-align: center;
}

.cart .col {
    flex-basis: 33.333%;
    max-width: 33.333%;
}
.cart .qty {
    font-weight: 600;
    text-align: center;
}

.cart .total-padding {
    padding: 105px 0 0;

}

/*===========================================
Confirmation
===========================================*/
.confirmation {
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmation h2 {
    font-weight: 600;
}

.confirmation p {
    font-size: 18px;
}

.confirmation .content {
    padding: 20px 12px;
}

.confirmation .confirm-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 0 auto;
    height: 55vh;
    box-shadow: 0px 2px 5px 2px #747474;
    background-color: rgb(245 227 155);
}

.confirm-card .confirm-num {
    color: #e61e21;
}

/*===========================================
Footer
===========================================*/
.footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border-top: solid black 1px;
}

.home-footer.footer {
    margin-top: 0px;
}

/* .socials {
    display: flex;
} */

.socials a {
    text-decoration: none;
}

.socials .icon{
    width: 2.5%;
    padding: 0 10px;
}